body, html {
    height: 100%;
    margin: 0;
}

/* .content-wrapper-100vh{
    min-height: 100vh;
} */

.enso-bridge-background {
    background-image: url("../images/bridge.jpg");
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.enso-fp-box-wrapper{
    position: absolute;
    bottom: 15em;
    left: 10em;
}

.enso-box-rounded {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    padding: 1rem;
    vertical-align: bottom;
}

.enso-dark-panel{
    background-color: #1a1a1a;
}

.enso-mu-1{
    margin-top: 1rem;
}
.enso-mu-2{
    margin-top: 2rem;
}
.enso-mu-5{
    margin-top: 5rem;
}

.enso-content-left-gutter{
    margin-left: 4.16%;
        margin-right: 4.16%;
    
}
.enso-content-right-gutter{
    margin-left: 4.16%;
    margin-right: 4.16%;
}


@media only screen and (min-width: 993px) {
    .enso-content-left-gutter{
        margin-left: 8.33%;
        margin-right: 4.16%;
    }
    .enso-content-right-gutter{
        margin-left: 4.16%;
        margin-right: 8.33%;
    }
}
